.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #f6def6;
}

h1 {
  margin: 30px;
  font-family: 'Girassol', cursive;
  text-shadow: 2px 0 #232931;
  font-size: 5rem;
  color: #0278ae;
}

p {
  font-size: 2rem;
  color: #481380;
  font-family: 'Girassol', cursive;
  font-family: 'Reggae One', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
